<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
      <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name="hibernate.connection.url">jdbc:mysql://remotemysql.com:3306/7iof1RIBri?useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8</property>
      <property name="hibernate.connection.username">7iof1RIBri</property>
      <property name="hibernate.connection.password">JHUmmcJtDf</property>
      <property name="hibernate.show_sql">true</property>
      <!-- SQL dialect -->
      <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

      <property name="hibernate.connection.CharSet">utf8</property>
      <property name="hibernate.connection.characterEncoding">utf8</property>
      <property name="hibernate.connection.useUnicode">true</property>
      <property name="hibernate.enable_lazy_load_no_trans">true</property>
      <!-- Disable the second-level cache -->
      <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
      <property name="hbm2ddl.auto">update</property>

      <!-- Entities Mapping-->
      <mapping class="com.onlinestorewepr.entity.Cart" />
      <mapping class="com.onlinestorewepr.entity.CartItem" />
      <mapping class="com.onlinestorewepr.entity.Category" />
      <mapping class="com.onlinestorewepr.entity.Order" />
      <mapping class="com.onlinestorewepr.entity.OrderItem" />
      <mapping class="com.onlinestorewepr.entity.Product" />
      <mapping class="com.onlinestorewepr.entity.User" />

   </session-factory>
</hibernate-configuration>